section.home-build-section {
    background-color: #f4f5f6;

    @media (min-width: map_get($grid-breakpoints, xl)) {
        background-color: transparent;
    }
}

.section-title--build {
    margin-bottom: 30px;

    @media (min-width: map_get($grid-breakpoints, xl)) {
        margin-bottom: 50px;
    }

    h2 {
        padding: 0;
        font-size: 20px;
        margin-bottom: 0;

        @media (min-width: map_get($grid-breakpoints, xl)) {
            font-size: 50px;
        }
    }
}

.build-row {
    margin: 0 -15px;

    @media (min-width: map_get($grid-breakpoints, xl)) {
        display: flex;
        flex-wrap: wrap;
    }
}

.build {
    background-color: #f4f5f6;

    @media (min-width: map_get($grid-breakpoints, xl)) {
        padding: 50px;
    }

    &__text {
        line-height: 30px;
        margin-bottom: 30px;
    }

    .build-info {
        display: flex;
        align-items: center;

        &__avatar {
            width: 70px;
            height: 70px;
            background-color: #7a7e90;
            @include img-obj();
            margin-right: 20px;
            border-radius: 50%;
        }
    }

    .build-fio {
        font-size: 15px;

        &__name {
            font-size: 15px;
        }
    }
}
