section.we-different-section {
    @extend %bg-cover;
    z-index: 1;
    padding: 50px 0;

    @media (min-width: map_get($grid-breakpoints, lg)) {
        padding: 180px 0;
    }

    &:before {
        content: "";
        @extend %absolute;
        background: linear-gradient(#000 0%, rgba(0, 0, 0, 0.42) 100%);
        opacity: 0.9;
        z-index: -1;
    }
}
